@font-face{
    font-family: 'normal';
    src: url('../fonts/questrial.ttf');
}
@font-face{
    font-family: 'sketch';
    src: url('../fonts/sketch.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'normal';
    z-index: 0;
}
body{
    position: relative;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: background-color 150ms, transform 150ms, left 150ms;
}
body.active{
    left: 250px;
}
body.active .sidepanel-1{
    left: 0;
}
body.active .alert.alert-fixed{
    left: 270px;
}
@media (max-width: 750px){
    body.active{
        left: 0;
        overflow-y: hidden;
    }
    body.active .sidepanel-1{
        z-index: 3;
        top: 45px;
        width: 100%;
    }
    body.active .alert.alert-fixed{
        left: 10px;
    }
}

/* NAVBAR */
.navbar-1{
    display: flex;
    flex-direction: row;
    background-color: rgba(20,20,20);
    padding: 5px;
    align-items: center;
    z-index: 1;
    box-shadow: 0 5px 7px 2px rgba(0,0,0,.3);
}
.navbar-1 a{
    margin-right: 5px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: 800;
    border-radius: 5px;
    transition: background-color 150ms, color 150ms;
}
.navbar-1 a:hover{
    background-color: rgba(255,255,255);
    color: black;
}
.navbar-1 a#active{
    background-color: white;
    color: black;
}
.navbar-1 a:nth-last-child(1){
    margin-right: 0;
}
.navbar-1.scroll{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    margin-right: 10px;
}
.navbar-1 button#sidepanel{
    height: 35px;
    width: 25px;
    background-color: transparent;
    border: none;
    position: relative;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
}
.navbar-1 button#sidepanel::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    left: 0;
    top: 9px;
    transition: transform 150ms;
}
.navbar-1 button#sidepanel::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    left: 0;
    bottom: 9px;
    transition: transform 150ms;
}
.navbar-1 button#sidepanel.open::before{
    transform: rotateZ(45deg) translateX(5px) translateY(5px);
}
.navbar-1 button#sidepanel.open::after{
    transform: rotateZ(-45deg) translateX(5px) translateY(-5px);
}

.sidepanel-1{
    z-index: 1;
    position: fixed;
    left: -250px;
    top: 0;
    padding: 10px;
    display: flex;
    width: 250px;
    flex-direction: column;
    background-color: rgba(20,20,20);
    box-shadow: 0 3px 5px 1px rgba(0,0,0,.5);
    height: 100%;
    transition: opacity 150ms, left 150ms;
}
@media (max-width: 750px){
    .sidepanel-1{
        z-index: 3;
        left: -101%;
        top: 45px;
        width: 100%;
        height: 150%;
        overflow-y: scroll;
    }
}
.sidepanel-1:hover{
    overflow-y: scroll;
}
.sidepanel-1 title{
    display: inline-block;
    color: white;
    font-weight: 800;
    font-size: 25px;
    margin: 5px;
    border-bottom: 1px solid rgba(100,100,100);
    padding-bottom: 10px;
}
.sidepanel-1 a{
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
    background-color: rgba(35,35,35);
    transition: background-color 100ms, color 100ms;
}
.sidepanel-1 a.active{
    background-color: rgba(200,200,200);
    color: black;
}
.sidepanel-1 a:hover{
    background-color: white;
    color: black;
}
.sidepanel-1 .article-card{
    flex-shrink: 0;
    width: 230px;
    margin: 0;
}
.sidepanel-1 .article-card p{
    margin-left: 5px;
}
@media (max-width: 750px){
    .sidepanel-1 .article-card{
        width: unset;
    }
}

/* ARTICLE HEADER */
.article-header{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    height: 450px;
    background-size: cover;
    background-position: center;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.article-header::after{
    content: '';
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(0,0,0), rgba(0,0,0,.3));
}
.article-header :nth-last-child(1){
    margin-top: 10px;
}
.article-header title{
    display: inline-block;
    font-size: 30px;
    color: white;
    font-weight: 800;
}
.article-header p{
    color: rgba(125,125,125);
}

.article-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    height: 250px;
    width: 450px;
    padding: 20px 15px 20px 20px;
    box-shadow: 0 3px 10px 1px rgba(0,0,0,.5);
    margin: 5px;
}
.article-card.small{
    width: 350px;
}
.article-card::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(45deg, rgba(0,0,0), rgba(0,0,0,.4), rgba(0,0,0,.6));
    border-radius: 15px;
}
.article-card title{
    display: inline-block;
    font-weight: 800;
    color: white;
    font-size: 40px;
}
.article-card p{
    color: white;
    margin: 10px 0;
}
.article-card .button-1,.article-card .button-2{
    font-size: 15px;
    padding: 10px 15px;
}
.article-card.inline{
    display: inline-flex;
    height: auto;
    width: auto;
    min-width: 150px;
    padding-top: 35px;
    padding-bottom: 35px;
}
.article-card.wrap{
    display: inline-flex;
    height: auto;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
}
.article-card.unset{
    display: inline-flex;
    height: auto;
    width: unset;
    padding-top: 35px;
    padding-bottom: 35px;
}
.article-card.unset-width{
    display: inline-flex;
    width: unset;
    padding-top: 35px;
    padding-bottom: 35px;
}
.article-card.unset-height{
    display: inline-flex;
    height: auto;
    padding-top: 35px;
    padding-bottom: 35px;
}
@media (max-width: 500px){
    .article-card{
        display: inline-flex;
        width: auto;
        flex-shrink: unset;
    }
    .article-card.small{
        width: unset;
    }
}


.container-1{
    padding: 15px;
}
.container-1.dark{
    background-color: rgba(10,10,10);
    color: white;
}

.card-1{
    border: 1px solid rgba(175,175,175);
    border-radius: 7.5px;
    padding: 15px;
    position: relative;
}

/* BUTTON */
.button-1{
    display: inline-block;
    background-color: black;
    padding: 15px 20px;
    border-radius: 30px;
    color: white;
    font-size: 17px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0 7px 10px -5px rgba(0,0,0,.5);
    transition: transform 200ms, box-shadow 200ms;
    margin: 7.5px 0 0 0;
    border-style: none;
}
.button-1:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 10px -5px rgba(0,0,0,.5);
}
.button-1:focus{
    background-color: rgba(50,50,50);
    transform: translateY(5px);
    box-shadow: 0 7px 10px -5px rgba(0,0,0,.5);
}

.button-1.white{
    background-color: rgba(255,255,255);
    color: black;
    box-shadow: 0 0px 10px 2px rgba(255,255,255,.2);
}
.button-1.white:hover{
    box-shadow: 0 5px 10px 2px rgba(255,255,255,.2);
}
.button-1.white:focus{
    background-color: rgba(200,200,200);
    box-shadow: 0 3px 10px 2px rgba(255,255,255,.2);
}

.button-1.green{
    background-color: rgb(0, 225, 50);
    color: black;
}
.button-1.green:focus{
    background-color: rgba(20,175,20);
}

.button-1.blue{
    background-color: rgb(0,50,100);
    color: white;
}
.button-1.blue:focus{
    background-color: rgba(0,0,50);
}

.button-1.red{
    background-color: rgb(255,20,20);
    color: white;
}
.button-1.red:focus{
    background-color: rgba(100,0,0);
}

.button-2{
    display: inline-block;
    position: relative;
    background-color: transparent;
    border: 2px solid black;
    padding: 15px 20px;
    border-radius: 30px;
    color: black;
    font-size: 17px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    /* box-shadow: 0 3px 10px 1px rgba(0,0,0,.3); */
    transition: transform 100ms, box-shadow 100ms;
    margin: 7.5px 0 0 0;
}
.button-2:hover{
    transform: translateY(-5px);
    /* box-shadow: 0 8px 10px 2px rgba(0,0,0,.3); */
}
.button-2:focus{
    background-color: rgba(100,100,100,.5);
    transform: translateY(5px);
    /* box-shadow: 0 3px 10px 2px rgba(0,0,0,.3); */
}

.button-2.white{
    border: 2px solid white;
    color: white;
}
.button-2.white:hover{
    box-shadow: 0 8px 10px 2px rgba(0,0,0,.3);
}
.button-2.white:focus{
    background-color: rgba(50,50,50);
    box-shadow: 0 3px 10px 2px rgba(0,0,0,.3);
}

.button-1.no-shadow,.button-2.no-shadow,.button-1.no-shadow:hover,.button-2.no-shadow:hover,.button-1.no-shadow:focus,.button-2.no-shadow:focus{
    box-shadow: 0 0 0 0 rgba(0,0,0,.0);
}

/* FORM */
.form-1{
    border-radius: 10px;
    padding: 15px;
    background-color: rgba(20,20,20);
    box-shadow: 0 3px 7px 2px rgba(0,0,0,.5);
}
.form-1 title{
    display: inline-block;
    font-size: 30px;
    color: white;
    font-weight: 800;
}
.form-1 input[type=text], .form-1 input[type=password]{
    border-style: none;
    padding: 10px;
    font-size: 17px;
    background-color: transparent;
    color: rgba(150,150,150);
    border-bottom: 1px solid rgba(150,150,150);
    transition: background-color 150ms, color 150ms;
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.form-1 p{
    margin: 5px 0;
    color: rgba(100,100,100);
    width: 60%;
}
@media (max-width: 600px){
    .form-1 p{
        width: 90%;
    }
}
.form-1 input[type=text]:focus, .form-1 input[type=password]:focus{
    background-color: white;
    color: black;
}
.form-1 .inline{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}
.form-1 .inline title{
    font-size: 15px;
    display: inline-block;
    color: white;
    padding-bottom: 0;
    font-weight: normal;
    margin: 0;
    padding-left: 10px;
}
.form-1 p#rule::before{
    content: '*';
    color: rgba(0,250,75);
}
.form-1 a{
    background-image: linear-gradient(45deg, rgba(0,250,75), rgba(0,255,175));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.form-1 a:hover{
    background-image: linear-gradient(45deg, rgba(255,0,20), rgba(255,100,150));
}
.form-1.form-transparent{
    background-color: transparent;
    box-shadow: 0 0 0 0 rgba(0,0,0,.0);
}
.form-1.form-center{
    text-align: center;
}
.form-1.form-center .inline title{
    text-align: start;
}
.form-1.form-center p{
    width: unset;
}
.form-1.form-black-font title{
    color: black;
}
.form-1.form-black-font input{
    color: black;
}
.form-1.form-black-font input:focus{
    background-color: rgba(0,0,0);
    color: white;
}
.form-1.form-black-font p#rule::before{
    color: rgba(0,150,25);
}
.form-1 a{
    background-image: linear-gradient(45deg, rgba(0,150,25), rgba(0,250,75));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.form-1.form-white{
    background-color: rgba(255,255,255);
}
.form-1.form-white title{
    color: black;
}
.form-1.form-white input{
    color: black;
}
.form-1.form-white input:focus{
    background-color: rgba(0,0,0);
    color: white;
}

/* LINK */
.link{
    text-decoration: none;
    font-weight: 800;
    color: black;
    border-bottom: 2px dotted black;
    background-origin: content-box;
}
.link:hover{
    border-bottom: 2px dotted transparent;
}
.link.link-white{
    color: white;
    border-color: white;
}
.link.link-white:hover{
    border-color: transparent;
}

/* ALERT */
.alert{
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    font-weight: 800;
    font-size: 20px;
    position: relative;
    box-shadow: 0 3px 7px 2px rgba(0,0,0,.4);
    margin: 10px;
    background-color: rgba(20,20,20);
    color: white;
    opacity: 1;
    transition: opacity 150ms;
}
.alert::before{
    content: '?';
    flex-shrink: 0;
    display: inline-flex;
    color: black;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: rgba(255,255,255);
    border-radius: 10px;
    height: 35px;
    width: 35px;
}
.alert.alert-danger{
    background-color: rgba(150,0,0);
}
.alert.alert-danger::before{
    content: '!';
    color: rgba(150,0,0);
}
.alert.alert-success{
    background-color: rgba(0,125,0);
}
.alert.alert-success::before{
    content: 'v';
    color: rgba(0,125,0);
}
.alert.alert-tips{
    background-color: rgba(0,50,100);
}
.alert.alert-tips::before{
    content: '~';
    color: rgba(0,50,100);
}
.alert span#close{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    height: 35px;
    flex-shrink: 0;
    width: 35px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(150,150,150,.5);
    transition: background-color 150ms;
}
.alert span#close:hover{
    background-color: rgba(255,255,255,.9);
}
.alert span#close::before{
    content: 'x';
    transition: color 150ms;
}
.alert span#close:hover::before{
    color: black;
}
.alert.alert-fixed{
    z-index: 2;
    position: fixed;
    top: 50px;
    left: 10px;
    right: 10px;
    transition: left 150ms, opacity 150ms;
}
.alert.close{
    opacity: 0;
    display: none;
}


/* IMPORTANT CSS RULE HERE */
*.no-margin{
    margin: 0;
}
