/* THIS IS A CSS LAYOUT FOR NOSY LIBRARY CSS & JS */

/* Margin */
.mg-5{
    margin: 5px;
}
.mg-10{
    margin: 10px;
}
.mg-15{
    margin: 15px;
}
.mg-20{
    margin: 20px;
}
.mg-25{
    margin: 25px;
}
.mg-30{
    margin: 30px;
}
.mg-35{
    margin: 35px;
}
.mg-40{
    margin: 30px;
}
.mg-45{
    margin: 45px;
}
.mg-50{
    margin: 50px;
}
.mg-55{
    margin: 55px;
}
.mg-60{
    margin: 60px;
}
.mg-65{
    margin: 65px;
}
.mg-70{
    margin: 70px;
}
.mg-75{
    margin: 75px;
}
.mg-80{
    margin: 80px;
}
.mg-85{
    margin: 85px;
}
.mg-90{
    margin: 90px;
}
.mg-95{
    margin: 95px;
}
.mg-100{
    margin: 100px;
}
.mg-left-5{
    margin-left: 5px;
}
.mg-left-10{
    margin-left: 10px;
}
.mg-left-15{
    margin-left: 15px;
}
.mg-left-20{
    margin-left: 20px;
}
.mg-left-25{
    margin-left: 25px;
}
.mg-left-30{
    margin-left: 30px;
}
.mg-left-35{
    margin-left: 35px;
}
.mg-left-40{
    margin-left: 30px;
}
.mg-left-45{
    margin-left: 45px;
}
.mg-left-50{
    margin-left: 50px;
}
.mg-left-55{
    margin-left: 55px;
}
.mg-left-60{
    margin-left: 60px;
}
.mg-left-65{
    margin-left: 65px;
}
.mg-left-70{
    margin-left: 70px;
}
.mg-left-75{
    margin-left: 75px;
}
.mg-left-80{
    margin-left: 80px;
}
.mg-left-85{
    margin-left: 85px;
}
.mg-left-90{
    margin-left: 90px;
}
.mg-left-95{
    margin-left: 95px;
}
.mg-left-100{
    margin-left: 100px;
}
.mg-right-5{
    margin-right: 5px;
}
.mg-right-10{
    margin-right: 10px;
}
.mg-right-15{
    margin-right: 15px;
}
.mg-right-20{
    margin-right: 20px;
}
.mg-right-25{
    margin-right: 25px;
}
.mg-right-30{
    margin-right: 30px;
}
.mg-right-35{
    margin-right: 35px;
}
.mg-right-40{
    margin-right: 30px;
}
.mg-right-45{
    margin-right: 45px;
}
.mg-right-50{
    margin-right: 50px;
}
.mg-right-55{
    margin-right: 55px;
}
.mg-right-60{
    margin-right: 60px;
}
.mg-right-65{
    margin-right: 65px;
}
.mg-right-70{
    margin-right: 70px;
}
.mg-right-75{
    margin-right: 75px;
}
.mg-right-80{
    margin-right: 80px;
}
.mg-right-85{
    margin-right: 85px;
}
.mg-right-90{
    margin-right: 90px;
}
.mg-right-95{
    margin-right: 95px;
}
.mg-right-100{
    margin-right: 100px;
}
.mg-top-5{
    margin-top: 5px;
}
.mg-top-10{
    margin-top: 10px;
}
.mg-top-15{
    margin-top: 15px;
}
.mg-top-20{
    margin-top: 20px;
}
.mg-top-25{
    margin-top: 25px;
}
.mg-top-30{
    margin-top: 30px;
}
.mg-top-35{
    margin-top: 35px;
}
.mg-top-40{
    margin-top: 30px;
}
.mg-top-45{
    margin-top: 45px;
}
.mg-top-50{
    margin-top: 50px;
}
.mg-top-55{
    margin-top: 55px;
}
.mg-top-60{
    margin-top: 60px;
}
.mg-top-65{
    margin-top: 65px;
}
.mg-top-70{
    margin-top: 70px;
}
.mg-top-75{
    margin-top: 75px;
}
.mg-top-80{
    margin-top: 80px;
}
.mg-top-85{
    margin-top: 85px;
}
.mg-top-90{
    margin-top: 90px;
}
.mg-top-95{
    margin-top: 95px;
}
.mg-top-100{
    margin-top: 100px;
}